* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  gap: 0;
}
.container {
  width: 100%;
  height: 100vh;
  background-color: #252525;
  position: relative;
}
.container #app {
  position: absolute;
  /* width: 100%; */
  /* height: 100%; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fefefe;
}
#app .color-panel {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-evenly;
}
#app .color-panel button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: #eee;
  font-size: 1.75rem;
  font-weight: bold;
  transition: text-shadow 0.15s;
}
#app .color-panel button:hover {
  text-shadow: 1px 1px #252525;
}
button#red,
.red {
  background-color: #f00;
}
button#orange,
.orange {
  background-color: #f80;
}
button#yellow,
.yellow {
  background-color: #ff0;
}
button#green,
.green {
  background-color: #080;
}
button#blue,
.blue {
  background-color: #00f;
}
button#anil,
.anil {
  background-color: #008;
}
button#purple,
.purple {
  background-color: #80f;
}
button#pink,
.pink {
  background-color: #f0f;
}
button#black,
.black {
  background-color: #000;
}
button#white,
.white {
  background-color: #fff;
  color: #000 !important;
}
button#white:hover {
  text-shadow: 1px 1px #aaa !important;
}
button#grey,
.grey {
  background-color: #888;
}
button#brown,
.brown {
  background-color: rgb(88, 39, 7);
}
button#beige,
.beige {
  background-color: #f8a;
}
button#greenlight,
.greenlight {
  background-color: #888;
}
button#bluelight,
.bluelight {
  background-color: #00f7ff;
}
button#darkgreen,
.darkgreen {
  background-color: #005500;
}
button#darkyellow,
.darkyellow {
  background-color: #aa8800;
}
.draw-panel {
  display: flex;
  width: 100%;
  height: 90%;
  flex-wrap: wrap;
}
.draw-space {
  width: 6.25%;
  height: 8.25%;
  cursor: cell;
  border: 1px solid #0004;
}
.hidden {
  display: none !important;
}
.height {
  height: 100% !important;
}
